<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj zadanie</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<H1 ALIGN="CENTER">Zaplanuj zadanie do wykonania</H1>

<FORM ACTION='#' th:action="@{/save}" th:object= "${task}" METHOD="post">
    <label for="inputTaskName">Nazwa:</label>
    <INPUT TYPE="TEXT" th:field="*{taskName}" id="inputTaskName"><BR>
    <label for="inputDone">Czy już wykonano(true/false)</label>
    <INPUT TYPE="Checkbox" th:field="*{done}" id="inputDone"><BR>
    <label for="inputDeadline">Termin:</label>
    <INPUT TYPE="Date" th:field="*{deadline}" id="inputDeadline" ><BR>
    <label for="inputCategory">Kategoria:</label>
    <SELECT id="inputCategory">
            <option th:value = "${category}" th:each="category:${T(pl.kinga.task.Category).values()}"
                    th:text = "${category.name()}"></option>
            </SELECT><BR>

    <button TYPE="SUBMIT">Wyslij</button>
</FORM>

<div id= "footer" th:fragment="footer">
    <h3><a href="/" style="color:white">Powrót do strony głównej</a></h3>
</div>

</body>
</html>

