<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj zadanie</title>
</head>
<body>

<H1 ALIGN="CENTER">Zaplanuj zadanie do wykonania</H1>

<FORM ACTION='#' th:action="@{/create}" th:object= "${task}" METHOD="post">
    Nazwa:<INPUT TYPE="TEXT" th:field="*${task.task_name}"><BR>
    Czy już wykonano(true/false)<INPUT TYPE="TEXT" th:field="*${task.done}"><BR>
    Termin:<INPUT TYPE="TEXT" th:field="*${task.deadline}" ><BR>
    Kategoria<INPUT TYPE="TEXT" th:field="*${task.category}"><BR>

    <INPUT TYPE="SUBMIT" VALUE="Wyslij">
</FORM>

<div id= "footer" th:fragment="footer">
    <h3 style="background: lightblue; font:verdana; margin:70px; padding: 35px;"><a href="/" style="color:white">Powrót do strony głównej</a></h3>
</div>

</body>

</html>

