<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Firma KSB. Krzysztof Szczecina</title>

    </head>
</head>
<body>

<div style="background-color: darksalmon;font-family:verdana;font-size:100%;text-align:center;" th:fragment="header">
<h2>Zarządzaj swoimi zadaniami.</br>
   Zacznij już dziś! </h2>

<a href="/">strona główna</a>
<a href="/done">Wykonane zadania</a>
<a href="/toDo">Zadania do wykonania</a>

</div>

<div style="background-color: coral;font-family:verdana;font-size:100%;text-align:center;" th:fragment="footer" >
    <h4>  <a href="/">Dobrze, że tu trafiłeś!</a> </h4>

</div>
</body>
</html>