<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Zarządzanie zadaniami</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

<div id="header" th:fragment="header">
    <h2><br>Zarządzaj swoimi zadaniami.</br>
        Zacznij już dziś! </h2>
</div>

    <div id="linki">
        <a href="/">strona główna</a>
        <a href="/done">wykonane zadania</a>
        <a href="/toDo">zadania do wykonania</a>
    </div>

<div id= "footer" th:fragment="footer">
    <h4><a href="/">Dobrze, że tu trafiłeś!</a></h4>
</div>

</body>
</html>